.button{
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid white;
  background-color: rgba(#d8d8d8, 0.4);
  color: white;
  font-size: 24px;
  font-weight: bold;
  height: 72px;
  line-height: 72px;
  padding: 0 100px 0 30px;
  &:after{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: white;

    position: absolute;
    right: 30px;
    top: 38px;
  }
}