@import "compass/css3";

@import "compass/utilities/sprites";

@import "global/common";
@import "fontface";
@import "variables";
@import "mixin";
@import "reset";

/* global */
@import "global/retina-sprites";
//@import "global/retina-background-image";

body{
    font-family: $font-body;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    @include desktop{
        font-size: 20px;
    }
}

.site-wrapper{
    position: relative;
    //min-width: 1164px;
}

.clearfix{
    @include clearfix;
}

.container{

}

/* partials */
@import "partials/header";
@import "partials/footer";
@import "partials/form";

//@import "animate";

/* plugins */

/* page */
@import "pages/page";
